.main-page {
    background-color: #E6F0F6;
    border-radius: 10px;
}

.main-text {
    font-family: 'Segoe UI';
    color: #0067A6;
    font-weight: 700;
}

.bt-button Button {
    /* background-color: #8dc641; */
    background-color: #0067A6;
    color: white;
}

#DateCustom[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* input {
    position: relative;
} */
/* 
input[type="date"]::-webkit-calendar-picker-indicator {
    background: center;
    bottom: 0;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}  */


/* ---------------------------------------------------------------------------------- */
/* --------------------Search table -------------------------------------------------- */


.table-headimg {
    background-color: #0067A6;
    color: white;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 22.3542px;
}

.table-button {
    color: #0067A6;
    text-decoration: none;
    font-weight: 600;

}

.table-pagination-back {
    /* background-color: #a1ebd8; */
    height: 51px;
    border-radius: 0px 0px 10px 10px;
}




.table-table thead tr th {
    font-family: 'Segoe UI';
    color: white;
    background-color: #0067A6;
    text-align: center;
    padding: 15px;

}

.table-responsive {
    height: 500px;
    overflow: auto;
}


.table-table tbody tr td {
    font-family: 'Segoe UI';
    text-align: center;
    font-size: 12px;
}

.table-table tbody tr td div {
    justify-content: center;
}

.table-table tr:nth-child(1) th {
    position: sticky;
    top: 0px;
    z-index: 10px;
}

.table-icon {
    font-size: 20px;
    /* color: #0067A6; */
    color: black;
}

.table-single-data {
    font-family: 'Segoe UI';
    text-align: LEFT;
    font-size: 12px;
}


.icon-remove::-webkit-outer-spin-button,
.icon-remove::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




.icon-remove[type=number] {
    -moz-appearance: textfield;
}

.button-batch {
    margin-bottom: 20px;
}

.button-batch Button {
    /* margin-bottom: 20px; */
    background-color: #0067A6;
}

.errorText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul li a {
    color: #0067A6;
}

.pagination:hover {
    color: #0067A6;
}

/* .page-item .page-link { 
    color: white;
    background-color: #0067A6;
    border-color: #0067A6;
} */
 .pagination .page-link {
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
    border-color: #0067A6 !important;
}

/* --------------------Side bar form -------------------------------------------------- */

#sidebar_form {
    width: 650px;
    /* background-color: #E6F0F6; */
}

.sidebar_header {
    background-color: #cfe2ff;
    border-radius: 5px 5px 5px 5px;
}

.sidebar_header h1 {
    font-family: 'Segoe UI';
    color: #0067A6;
    /* background-color: #cfe2ff; */
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding: 7px;
}

.button_spacing {
    display: flex;
    justify-content: space-between;
}

.removeScroll {
    overflow-y: hidden;
}