/* .back-img{
    background-image: url("../../Image/patient-consulting-with-doctor-2021-08-29-18-27-29-utc.jpg");
    max-width: 100%;
    background-size: cover;
    background-position: top;
    min-height: 600px;
} */

.back-img {
    position: relative;
     min-height: 600px;
  }
  
  .back-img::before {
    content: "";
    display: block;
    position: absolute;
    background-size: cover;
    background-position: top;
    top: 0;
    left: 500;
    right: 0;
    bottom: 0;
    /* background-image: url("../../Image/patient-consulting-with-doctor-2021-08-29-18-27-29-utc.jpg"); */
    background-image: url("../../Image/Banner for Export.png");
    opacity: 0.8; 
    z-index: -20; 
    width: 100%;
    height: 100%;
  }

#main-heading-grid{
    margin-top: 50px
}
.main-heading{
    font-size: 60px;
    color: #0067A6;
    font-family: 'Segoe UI';
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 10px white;
}
.sub-heading {
    font-size: 20px;
    color: #1f5374;
    font-family: 'Segoe UI';
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 10px white;
}

.card-cst {
    /* margin-bottom: 50px; */
    /* margin-top: 75px; */
    
    align-items: centers;
    /* min-height: 250px; */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.card-icon{
    font-size: 60px;
    color: #0067A6;
}
.card-heading{
    font-size: 35px;
    color: #0067A6;
    font-family: 'Segoe UI';
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

.card-heading:hover{
    font-size: 35px;
    color: #0067A6;
    font-family: 'Segoe UI';
    text-decoration: none;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    bottom: -8px;
    cursor: pointer;
}
.card-text{
    font-size: 10px;
    color: black;
    font-family: 'Segoe UI';
    text-decoration: none;
    margin-top: 15px;
}
.link-text{
    text-decoration: none;
    color: #0067A6;
}

/* ----------------------------------------------------------------------------------- */


